@import 'https://fonts.googleapis.com/css?family=Open+Sans|Pacifico';



body{

    max-width:1250px;

    margin-left: auto;

    margin-right: auto;

}



h1, h2, p{

    margin-top: 0;

}



*{

    font-family: 'Roboto', sans-serif;



}

h1, h2{

    font-family: 'Roboto', sans-serif;

}



/* HEADER */

header{

    background-color: #803b81;

    padding-top: 14px;

}

header>h1{

    padding-left: 10px;

}





/* NAVIGATION */

nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #651466;

}



nav li {

    float: left;

}



nav li a {

    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

}



nav li a:hover {

    background-color: #1a5522;

}



/* MAIN */

main{

    background-color: #bb2ecc;

    min-height: 500px;

    padding: 15px;

}



/* FOOTER */

footer{

    background-color: #2ca125;

    padding: 5px 0 5px 10px;

}